<div class="container-fluid" style="background-image: linear-gradient(to right, #C6FFDD , #FBD786 , #f7797d); border-top: 1px solid #f7797d;">
<%- include('partials/header') %>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-3 col-md-4 p-5 pr-0">
            <img src="css/images/user.png" alt="profile picture" style="width:7rem;" />
            <h3><%=user.name%></h3>
            <h5><%=user.email%></h5>
            <h5><%=user.phone%></h5>
            <button class="btn btn-dark btn-md" id="myBtn1">Edit Profile</button>
            <!-- The Modal -->
            <div id="myModal1" class="modal">
            <!-- Modal content -->
                <div class="modal-content">
                    <span class="close">&times;</span>
                    <div class="col-lg-5 col-md-6 col-10 mt-4" style="margin:auto; color:rgb(5, 5, 5);padding:2rem  ; background-color: rgba(2, 12, 29 ,0.7) ; border-radius: 0.5rem; margin-bottom: 2rem;">
                        <form method="post" action="/editProfile" >
                            <div class="form-group">
                              <label for="name">Name</label>
                              <input type="text" class="form-control" id="name" name="name" placeholder="Update your name" required="true" value=<%=user.name%>>
                            </div>
                            <div class="form-group">
                                <label for="phone">Phone</label>
                                <input type="text" class="form-control" id="phone" name="phone" placeholder="Update your phone number" required="true" value=<%=user.phone%>>
                            </div>
                            <div class="form-group">
                                <label for="photo">Photo</label>
                                <input type="file" class="btn form-control" id="photo" name="photo" placeholder="Update your photo" required="true">
                              </div>
                            <button type="submit" class="btn btn-warning">Submit</button>
                        </form>
                    </div>
                    
                </div>
            </div>

            <!-- The Modal -->
            <div id="myModal2" class="modal">
                <!-- Modal content -->
                <div class="modal-content">
                    <span class="close">&times;</span>
                    <div class="col-9 p-5 m-auto" style="color:rgb(5, 5, 5); background-color: rgba(2, 12, 29 ,0.7) ; border-radius: 0.5rem; margin-bottom: 2rem;" >
                        <form method="post" action="/uploadPhoto" >
                            <div class="form-group">
                              <label for="photo">Photo</label>
                              <input type="file" class="btn btn-light ml-5" id="photo" name="photo" placeholder="enter your photo" required="true">
                            </div>
                            <div class="form-group">
                                <label for="caption">Caption</label>
                                <input type="text" class="form-control" id="caption" name="caption" placeholder="Enter caption" required="true">
                            </div>
                            <button type="submit" class="btn btn-warning">Submit</button>
                        </form> 
                    </div>
                </div>
            </div>
            
            <input type="submit" class="btn btn-warning btn-md mt-1 mb-1" id="myBtn2" value="Upload Photo">
            
            <form action="/logout" method="get">
                <input type="submit" class="btn btn-danger btn-md" value="Logout">
            </form>
        </div>
        <div class="col-lg-6 col-md-6">
            <div class="row">
                <div class="col-5 ml-auto mt-1 btn btn-info">
                    All
                </div>
                <div class="col-5 mr-auto mt-1 btn btn-info">
                    Public
                </div>
            </div>
            <div class="row m-auto p-0" style="overflow:scroll;height: 500px;">
                <%for(var i=0;i<8;i++){%>
                <div class="item col-lg-4 col-md-4 col-6 p-0">
                    <a href="css\images\Luxury-tourism-1024x761.jpg" class="fancybox" data-fancybox="gallery1">
                        <img src="css\images\three.jpg" alt="public image" width="100%">
                    </a>
                </div>
                <%}%>
            </div>
        </div>
        <div class="col-lg-3 col-md-2">
            <div style="height:15rem;">
                <h3>Current Booking</h3>
            </div>
            <form action="/rooms">
                <button type="submit" class="btn btn-warning btn-md">Check Rooms</button>
            </form>
            <div style="height:15rem;" class="mt-2">
                <h3>My Queries and Comments</h3>
                <%if (queries.length==0){%>
                    <p>No queries to display !</p>
                <%}else{%>
                    <ul>
                        <%queries.forEach(function(query){%>
                            <li><%=query.message%></li>
                        <%})%>
                    </ul>
                <%}%>
            </div>
        </div>
    </div>
</div>
</div>
<%- include('partials/footer') %>